body {
    padding: 0;
    margin: 0;
}

.wrapper {
    background: white;
    width: 650px;
    margin: 0 auto;
    border-left: 2px solid #e3e3e3;
    border-right: 2px solid #e3e3e3;
    padding: 30px 80px;
}